@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "LatoMedium";
    src: url(../fonts/Lato-Medium.ttf);
}
@font-face {
    font-family: "LatoBold";
    src: url(../fonts/Lato-SemiBold.ttf);
}
@font-face {
    font-family: "Georgia";
    src: url(../fonts/georgia.ttf);
}
@font-face {
    font-family: "GeorgiaBold";
    src: url(../fonts/georgiab.ttf);
}

@font-face {
    font-family: "Avenir";
    src: url(../fonts/Avenir-Black.ttf);
}

:root {
    --font-family: "Lato", sans-serif;
    --font-family-bold: "LatoBold", sans-serif;
    --font-family-medium: "LatoMedium", sans-serif;
    --second-family: "Georgia", sans-serif;
    --second-family-bold: "GeorgiaBold", sans-serif;
    --third-family: "Avenir", sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;

}
li {
    list-style: none;
}

body {
    background-color: #E5E5E5;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #fff;
}

.block {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    border: 1px solid #01996d;
    border-radius: 4px;
    padding: 13px 50px;
    width: 183px;
    height: 51px;
    background: #01996d;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #fff;
}

/* header */
.header {
}
.header .container {
    min-height: 85px;
}
.header__title {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: end;
}

.header__title img {
    width: 80px;
    height: 23px;
}
.header__title-menu {
    padding-top: 7px;
    padding-left: 170px;
    display: flex;
    gap: 77px;
    justify-content: center;
}
.header__title-menu a {
    font-family: var(--font-family-medium);
    font-weight: 500;
    font-size: 20px;
    color: #292929;
}
.header__title-sign-in {
    padding-top: 7px;
    padding-left: 279px;
    display: flex;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
}
.header__title-sign-in a:not(.btn){
    padding-right: 34px;
    color: #000;
}

/* bcg-image */
.bcg-image .container {
    background-image: url(../img/BG.png);
    background-size: cover;
    background-position: center;
    height: 895px;
}
.bcg-image__content{
    padding-top: 175px;
    padding-left: 275px;
}
h1 {
    padding-bottom: 30px;
    font-family: var(--second-family-bold);
    font-weight: 700;
    font-size: 65px;
    color: #01996d;
}
.bcg-image p {
    padding-bottom: 67px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 157%;
    color: #484848;
}
.bcg-image .btn {
    padding: 20px 50px;
    margin-bottom: 100px;
    width: 227px;
    height: 65px;
}

/* how-it-works */
.how-it-works h4 {
    padding-top: 169px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 157%;
    color: #424242;
}
.how-it-works__flex{
    height: 158px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.how-it-works__flex h2 {
    font-family: var(--second-family-bold);
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #01996d;
}
.how-it-works__flex p {
    max-width: 671px;
    padding-left: 21px;
    font-family: var(--font-family-medium);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #424242;
}
.how-it-works__grid {
    padding-top: 45px;
    min-height: 645px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 94px;
}
.how-it-works__grid-card {
    max-width: 390px;
    width: 100%;
    min-height: 492px;
}
.title {
}
.title h6 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 150px;
    line-height: 150%;
    text-align: left;
    color: rgba(1, 153, 109, 0.2);
}
.title h3 {
    font-family: var(--second-family-bold);
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    text-align: left;
    color: #000;
}
.how-it-works__grid-card p {
    font-family: var(--font-family-medium);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #424242;
    text-align: left;
}

#card1 h3 {
    position: relative;
    z-index: 2;
    padding-left: 89px;
    margin-top: -87px;
    padding-bottom: 57px;
}
#card1 p {
    padding-bottom: 60px;
}
#card2 {
    padding-top: 291px;
}
#card2 h3{
    position: relative;
    z-index: 2;
    padding-left: 76px;
    margin-top: -87px;
    padding-bottom: 51px;
}
#card2 p {
    padding-bottom: 40px;
}
#card2 img {
    padding-bottom: 44px;
}
#card3 {
    padding-top: 60px;
}
#card3 h3{
    position: relative;
    z-index: 2;
    padding-left: 126px;
    margin-top: -90px;
    padding-bottom: 44px;
}
#card3 p {
    padding-bottom: 47px;
    text-align: left;
}
#card3 img {
    border-radius: 11px;
}

/* story */
.story {
}
.story .container {
    background-color: #245852;
}
.story__flex {
    padding-top: 228px;
    display: flex;
    padding-bottom: 179px;
}
.story__flex-left {
    padding-top: 84px;
    padding-left: 207px;
    padding-right: 60px;
}
.story__flex-left h4 {
    font-family: var(--second-family-bold);
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #fff;
    padding-bottom: 33px;
}
.story__flex-left p {
    font-family: var(--font-family-bold);
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: #fff;
    padding-bottom: 78px;
}
.story__flex-left .btn {
    padding: 20px 50px;
    width: 240px;
    height: 65px;
}
.story__flex-right {
    position: relative;
    display: inline-block;
}
.story__flex-right-story {
    display: block;
    width: 100%;
    height: auto;

}
.story__flex-right-play_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
/* our-product */
.our-product {
}
.our-prodict__flex {
    padding-top: 122px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 240px;
}
.our-prodict__flex-lef {
    position: relative;
    display: inline-block;

}
.our-prodict__flex-lef-img {
    padding-left: 60px;
    display: block;
}
.our-prodict__flex-lef-card {
    max-width: 296px;
    width: 100%;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 10px 5px rgba(52, 51, 51, 0.1);
    position: absolute;
    top: 62%;
    z-index: 2;
}
.our-prodict__flex-lef-card h5 {
    padding-top: 23px;
    font-family: var(--font-family-bold);
    font-weight: 600;
    font-size: 14px;
    line-height: 157%;
    text-align: center;
    color: #000;
}
.our-prodict__flex-lef-card hr {
    margin-top: 6px;
    width: 110px;
    background-color: #000;
}
.our-prodict__flex-lef-card p {
    padding-top: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 157%;
    text-align: center;
    color: #000;
}
.our-prodict__flex-lef-card h4 {
    padding-top: 24px;
    font-family: var(--second-family-bold);
    font-weight: 700;
    font-size: 15px;
    line-height: 157%;
    color: #000;
}
.our-prodict__flex-lef-card ul {
    padding-top: 19px;
    padding-left: 75px;
    padding-bottom: 15px;
}
.our-prodict__flex-lef-card li {
    padding-bottom: 15px;
    list-style: disc;
    text-align: left;
    font-family: var(--font-family);
    font-size: 10px;
    line-height: 157%;
    color: #000;
}
.avatar {
    width: 60px;
    border-radius: 50%;
}
.our-prodict__flex-right {
}
.our-prodict__flex-right h4 {
    font-family: var(--font-family-medium);
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: #424242;
}
.our-prodict__flex-right h3 {
    padding-top: 10px;
    font-family: var(--second-family-bold);
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #01996d;
}
.our-prodict__flex-right p {
    padding-top: 19px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 157%;
    color: #484848;
    padding-bottom: 46px;
}
/* footer */
.footer {
}
.footer .container {
    background-color: #245852;
}

.footer__logo {
    padding-top: 94px;
    font-family: var(--third-family);
    font-size: 40px;
    color: #fff;
}
.footer ul {
    padding-top: 60px;
    padding-bottom: 86px;
}
.footer li {
    padding-bottom: 60px;
}
.footer ul a {
    font-family: var(--font-family-medium);
    font-size: 25px;
    color: #fff;
}
